.ColorBox {
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.SingleColorPalette .ColorBox {
    height: 50%;
}

.copy-button, .back-button {
    width: 60%;
    height: 15%;
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    line-height: 15%;
    color: white;
    text-transform: uppercase;
    border: none;
}

.copy-button {
    opacity: 0;
}

.ColorBox:hover .copy-button{
    opacity: 1;
}

.copy-button {
    transition: opacity 0.5s;
}

.box-content {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

.see-more {
    position: absolute;
    width: 20%;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    text-transform: uppercase;
    color: white;

}
.clearfix {
    opacity: 0;
}

.grow-box {
    margin: 0 auto;
    height: 0;
    width: 0;
    position: absolute;
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
}

.growing {
    height: 30%;
    width: 30%;
    transform: scale(300);
    z-index: 10;
    transition: all 2s;
}

.copy-msg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index:-1;
    flex-direction: column;
    visibility: hidden;
}

.copy-msg.shown {
    z-index: 100;
    opacity: 1;
    transition: all 0.4s;
    transition-delay: 0.2s;
    font-size: 4rem;
    visibility: visible;
}

.copy-msg.shown h1 {
    width: 100%;
    text-shadow: 1px 2px black;    
    background: rgba(255, 255, 255, 0.2);
}

.copy-msg.shown p {
    font-size: 2rem;
}